<section>
  <div class="image-box">
    <h2>Subir foto</h2>
    <label id="addPhoto" title="Upload Image" for="file">
      <img
        [ngClass]="{ 'has-image': uploadedUrl }"
        [src]="uploadedUrl || 'add.png'"
      />
    </label>
    <input type="file" id="file" (change)="uploadImage($event)" />
    <h2>Descripción</h2>
    <textarea
      placeholder="Descripción"
      required
      formControlName="description"
    ></textarea>
  </div>
  <form [formGroup]="newProductForm">
    <div class="inline-boxes">
      <nav>
        <h5>Nombre</h5>
        <input
          type="text"
          class="input-text"
          placeholder="Nombre del producto"
          required
          formControlName="name"
        />
      </nav>
      <nav>
        <h5>Categoria</h5>
        <input
          type="text"
          class="input-text"
          placeholder="Categoria"
          required
          formControlName="category"
        />
      </nav>
      <nav>
        <h5>Precio</h5>
        <input
          type="number"
          class="input-text"
          placeholder="Precio"
          required
          formControlName="price"
        />
      </nav>
    </div>
    <div class="inline-boxes">
      <nav>
        <h5>Cantidad</h5>
        <input
          type="number"
          class="input-text"
          placeholder="Cantidad"
          required
          formControlName="stock"
        />
      </nav>
      <nav class="inline-box">
        <h5>Mostrar en inventario</h5>
        <input
          type="checkbox"
          required
          formControlName="disponibility"
        />
      </nav>
    </div>
    <footer>
      <button class="btn primary" (click)="onSubmit()">Crear Producto</button>
      <button class="btn secondary" (click)="onCancel()">Cancelar</button>
    </footer>
  </form>
</section>
