section {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  margin: 10px;
  padding: 0 20px;
  background-color: #d9d7d7;
  border: 1px so rgb(185, 185, 185);
  border-radius: 20px;
}

.image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image-box input {
  display: none;
}

#addPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 220px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f3f3f3;
  filter: drop-shadow(3px 3px #d6d6d6);
  object-fit: cover;
}

#addPhoto:hover{
  size: 1.01;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  transform: scale(1.01);
}

#addPhoto img{
  width: 50%;
  object-fit: cover;
  border-radius: 7px;
}

.has-image {
  border-radius: 7px;
  object-fit: cover;
  background-color: unset !important;
  width: 340px !important;
  height: 210px !important;
}

h2 {
  color: #000000;
  font: inherit;
  font-size: 23px;
  font-weight: 400;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 10px;
}

h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-weight: bold;
  margin: 0;
  padding: 10px 0px;
}


form {
  background-color: #002436;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 50px ;
  height: 560px;
  margin: 10px 5px;
  border-bottom: 2px solid #f3e3e3;
  border-radius: 10px;
}

nav{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inline-box { 
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.inline-boxes {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-around;
  padding: 10px 0;
}

.input-text {
  height: 40px;
  max-height: 80px;
  min-width: 203px;
  margin: 0 auto;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  text-align: center;
  font: inherit;
}

.input-text.sort-select{
  min-height: 46px;
  min-width: 203px;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="checkbox"]:hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

textarea {
  margin: 10px; 
  padding: 8px; 
  width: 350px; 
  max-width: 350px; 
  min-width: 350px;
  height: 190px;
  max-height: 190px; 
  min-height: 190px;
  border-radius: 10px;
  font: inherit;
  margin: 0 auto;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
}

  footer {
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

button {
  height: 50px;
}


@media (max-width: 1150px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  form{
    width: fit-content;
  }
}

@media (max-width: 830px) {
  section{
    height: fit-content;
    margin: 0 auto;
  }

  form{
    width: fit-content;
    height: fit-content;
  }

  form .inline-boxes{
    display: flex;
    flex-wrap: wrap;
  }

  form footer{
    height: fit-content;
  }
}