section {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    width: 98%;
    height: 200px;
    object-fit: cover;
}

.product-item main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    padding: 0 5px;
}

.product-item h2 {
    font-size: 19px;
    color: #000000;
    font-weight:400;
}

.product-item p{
    font-size: 17px;
    color: #000000;
    font-weight:400;
}

.product-item footer {
    display: flex;
    border-radius: 0 0 5px 5px !important;
    flex-direction: row;
    height: 30px;
    gap: 20px;
    padding: 0 5px;
    margin: 0;
    justify-content: end;
}

.product-item footer i:hover {
    color: #34345e;
    cursor: pointer;
}


div button {
    cursor: pointer;
    font: inherit;
    width: fit-content;
    margin-top: 100px;
    background-color: transparent;
    border: 2px solid #219ebc;
    padding: 10px;
    border-radius: 10px;
    font-size: 10px;
    
}
div button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

div button svg {
    width: 10%;
}